footer{
    background: $siteColor;
    color: $light;
    margin-top: 6rem;
    p{
        text-align: center;
        font-size: 0.9rem;
        padding-top: .5rem;
    }
    a{
        text-decoration-color: #fff;
        color: #fff;
    }
}

.git{
    text-align: center;
}

@media (max-width:500px){
    footer{
        border-radius: 0;
    }
}